/* ACTIVITIES
  ======================== */
  .activities {
    text-align: left;
    padding: 0;
    margin-top: 20px;
    width: 210px;
    list-style-type: none;
  }

  .activities-container {
    margin: 0 5px 540px 5px;
    background-color: #2C2C2C;
  }

/* LATEST ACTIVITIES
  ======================== */
  .latest-activities {
    margin-bottom: 10px;
  }

  .latest-activities h2 {
    margin-left: 10px;
    padding: 0;
    font-size: 24px;
    text-align: left;
    white-space: nowrap;
  }

  .divider {
    width: 89%;
    height: 2px;
    margin: -5px 10px;
    background-color: white;
  }

/* ACTIVITY LIST
  ======================== */
  .activity-item {
    padding: 1px;
    margin: 0 5px;
    background-color: #2C2C2C;
  }

  .activity-item p {
    margin: 5px;
    font-size: 12px;
    color: #FFFFFF;
  }

  .activity-username,
  .activity-movie {
    color: #F31D27;
  }

  .activity-empty {
    text-align: center;
    padding: 5px;
    margin: 0px;
    font-size: 15px;
    color: #FFFFFF;
  }
  