.activities {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  width: 210px;
  text-align: left;
}

.activities-container {
  margin-bottom: 540px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #2C2C2C;
}

.latest-activities {
  margin-bottom: 10px;
}

.latest-activities h2 {
  margin-left: 10px;
  padding: 0;
  font-size: 24px;
  text-align: left;
  white-space: nowrap;
}

.divider {
  height: 2px;
  width: 89%;
  background-color: white;
  margin: -5px 10px;
}

.activity-item {
  padding: 1px;
  margin: 0 5px;
  background-color: #2C2C2C;
}

.activity-item p {
  margin: 5px;
  font-size: 12px;
  color: #FFFFFF;
}

.activity-username,
.activity-movie {
  color: #F31D27;
}

.activity-empty {
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
  padding: 5px;
  margin: 0px;
}