/* Styles généraux pour les composants */

.input-container, .select-input-container, .search-bar, .button {
  margin: 10px 0;
}

/* input component */
.input-container label, .select-input-container label {
  display: block;
  margin-bottom: 5px;
}

.input-container input{
  width: 354px;
  height: 21px;
}

.input-container input:focus, .select-input-container select:focus{
  border: 2px solid #e31c25;
  outline: none;
}

.input-container input:not(:focus), .select-input-container select:not(:focus){
  border-bottom: 2px solid #e31c25;
  border-left: none;
  border-right: none;
  border-top: none;
}

/* Button */
.input-container .input-icon, .button .button-icon {
  margin-right: 5px;
}

.button {
  display: flex;
  width: 50px;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #e31c25;
  color: white;
  border-radius: 50px;
  cursor: pointer;
}

.button:hover {
  background-color: #e31c25;
}

/* Search bar */
.search-bar input {
  width: 535px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #2C2C2C;
  outline: none;
}
