/* DASHBOARD
  ======================== */
  .dashboard-container {
    display: flex;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
  }

  .dashboard-content {
    flex-grow: 1;
    color: white;
    padding: 20px;
  }

/* FAVORITE
  ======================== */
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .favorites-page {
    margin-top: 90px;
    padding-bottom: 40px;
  }

  .favorites-page h1 {
    text-align: center;
    font-size: 43px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .favorites-page hr {
    width: 20%;
    margin: -20px 0 40px 0;
    border: 2px solid red;
  }

/* WATCHLATER
  ======================== */
  .watchlater-page {
    padding-bottom: 40px;
    margin-top: 90px;
  }

  .watchlater-page h1 {
    text-align: center;
    font-size: 43px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .watchlater-page hr {
    width: 30%;
    margin: -20px 0 40px 0;
    border: 2px solid red;
  }
