/* FILTERS
  ======================== */
  .filter-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    margin-top: 70px;
    box-sizing: border-box;
  }

  .filter-left {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .search-bar-container,
  .filter-sort {
    display: flex;
    margin-left: 50px;
  }
  
  .filter-sort {
    gap: 30px;
  }

/* TAGS
  ======================== */
  .filter-right {
    display: flex;
    align-items: flex-start;
    width: 30%;
    margin-right: 45px;
  }

  .tags {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }

  .tag {
    display: inline-block;
    padding: 3px 15px;
    margin: 7px 5px 5px 0; 
    border: 1px solid #e31c25;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    list-style: none;
  }

  .tag.selected {
    background-color: #e31c25;
    color: white;
  }

/* MOVIE CARD
  ======================== */
  .movie-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 398px;
    margin: 50px 30px 0 0;
    border: 1px solid #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
    background-color: #1c1c1c;
    color: white;
    list-style: none;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
  }
  
  .movie-card:hover {
    transform: scale(1.1);
  }
  
  .movie-card img {
    width: 100%;
  }

/* MOVIE INFO
  ======================== */
  .movie-info {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
  }

  .movie-info p {
    padding: 15px;
    margin: 5px 1px;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .movie-info h3 {
    padding: 5px;
    margin: 0 0 5px;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(130, 121, 121, 0.2);
  }

  .movie-genres {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .movie-genre {
    display: inline-block;
    padding: 5px 7px;
    margin: 0 auto;
    background-color: #e31c25;
    color: white;
    border-radius: 50px;
  }

/* ICONS
  ======================== */
  .movie-actions {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
  }

  .icon {
    width: 19px;
    height: 19px;
    cursor: pointer;
  }

  .icon.selected {
    color: red;
  }

/* HOME PAGE
  ======================== */
  .home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  .movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -30px 10px 0 70px;
  }

/* BUTTON
  ======================== */
  .button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
